body {
  margin: 0;
  background-color: #DDD;
  color: black;
}
.header {
  text-align: center;
}
.blogs {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  max-height: 300px;
  min-height: 100px;
}
.blogs video {
  border-radius: 10px;
}
.blogs .title {
  font-weight: bold;
  display: block;
}
